<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>tlist.servlets.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listData</servlet-name>
        <servlet-class>tlist.servlets.ListDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>project</servlet-name>
        <servlet-class>tlist.servlets.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTask</servlet-name>
        <servlet-class>tlist.servlets.EditTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTask</servlet-name>
        <servlet-class>tlist.servlets.DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTask</servlet-name>
        <servlet-class>tlist.servlets.CreateTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listData</servlet-name>
        <url-pattern>/listData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>project</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTask</servlet-name>
        <url-pattern>/editTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTask</servlet-name>
        <url-pattern>/deleteTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTask</servlet-name>
        <url-pattern>/createTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>tlist.db.DatabaseConfig</listener-class>
    </listener>
</web-app>
